/* root */
html,body
{
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}
/* add new font family */
@font-face {
    font-family: PoppinsBold;
    src: url("../assets/fonts/Poppins_Bold.ttf");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("../assets/fonts/Poppins_Medium.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("../assets/fonts/Poppins_Regular.ttf");
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url("../assets/fonts/Poppins_ExtraBold.ttf");
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url("../assets/fonts/Poppins_SemiBold.ttf");
}

.navbar {
    -webkit-box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.100);
}

.footer {
    color: white;
    background-color:#120136;
    text-align: center;
    height: 60px;
    margin-top: 20px;
    background-color: #4CD3C2;
    color: white;
    text-align: center;
    font-family: PoppinsSemiBold;
}

.footer-history {
    position: fixed;
    padding: 15px;
    color: white;
    background-color:#120136;
    text-align: center;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #4CD3C2;
    color: white;
    text-align: center;
    font-family: PoppinsSemiBold;
}

.container-web{
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
}
  
.card{
    border: 0px !important;
    text-align: left;
}

.index-img {
    border-radius: 5px !important;
    /* width: 160px !important; */
}
.card-body{
    margin-top: -15px !important;
    font-family: PoppinsSemiBold;
}

.card span{
    font-size: 15px;
    font-family: PoppinsBold;
}

.card-title{
    color: black;
}

.card-body a{
    color: #21BF73;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px !important;
}
.card b{
    margin-top: 10px !important;
}
.card .card-body{
    margin-left: 0px !important;
    padding-left: 0px !important;
}

#home:hover,
#history:hover {
   color: black !important;
}

#home:active,
#history:active {
   color: black !important;
}

#barang:hover {
    background-color: #F1F1F1 !important;
}
.carousel-item{
    height: 300px;
    background-size: auto !important;
    border-radius: 10px;
} 

.carousel-item img{
    height: 300px;
    background-size: auto !important;
    border-radius: 10px;
}

/* History section */
.history-title {
    margin-top: 30px;
    margin-left: 500px;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 500;
    color: #4CD3C2;
}

.history-item {
    max-width: 100%;
    -webkit-box-shadow: 0px 4px 12px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 12px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px -9px rgba(0,0,0,0.75);
}

.history-img{
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
}

.title-card{
    margin-top: -150px;
    margin-right: 400px;
}
     
.card-price{
    float: left;
    margin-left: 332px;
    font-size: 12px;
    color: #4CD3C2;
}

.card-date{
    float: right;
    font-size: 12px;
    color: #F94006;
    margin-right: -300px;
}


/* modal */
.modal-header{
    min-height: 300px !important;
    border-bottom: 0px !important;
    padding: 0px;
}
.modal-body h6{
    color: #21BF73;
}
.modal-footer{
    padding: 0px;
}
.modal-footer button{
    color: White;
    background-color: #4CD3C2;
    border: 1px solid #4CD3C2;
    width: 100%;
    height: 50px;
}

.title-history {
    text-align: center;
    font-family: PoppinsBold;
    color: #21BF73;
    font-size: 40px;
}